.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 58px;
  height: 80px;
}

.nav__links {
  display: flex;
  margin: 8px 0 0;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin-top: 0;
}

.header__title {
  max-width: 635px;
  font-size: 62px;
  line-height: 76px;
  font-weight: 500;
  margin: 0 0 32px;
}

.header__description {
  max-width: 515px;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.header__image {
  max-width: 636px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  margin: 0;
  color: #838383;
}

.staff {
  background-image: url(../images/staff_picks_background.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 160px;
}

.staff__cards {
  max-width: 760px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
  padding-left: 0;
}

.staff__title {
  text-align: center;
  font-size: 36px;
  line-height: 44px;
  font-weight: 500;
  color: #ffffff;
  margin: 0 auto 8px;
  max-width: 760px;
}

.staff__subtitle {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  margin: 0 auto 48px;
  max-width: 760px;
}

.card {
  width: 360px;
  min-height: 420px;
  background: #ffffff;
  border-radius: 8px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 16px;
}

.card__text {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 24px;
}

.card__footer {
  margin-top: auto;
  font-size: 14px;
  color: #8e8e8e;
  line-height: 20px;
}
